table,tr,th,td{
  border: 1px solid black;
  text-align:center;
}
form{
  padding: 50px;
}
h1{
  text-align: center;
  text-decoration: underline;
}
p{
  padding-top: 100px;
  text-align: center;
}
